

  .view{
    width: 100%;
    height: 20vh;
    background-color: white;
    padding: 2rem;
  }
  
  .divs-container{
    display: grid;
    width:95%;
    grid-template-columns: 25% 25% 25% 10% 10%;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }

@media screen and (max-width: 600px) {

  .view{
    margin-top: 1rem;
  }

  .divs-container{
    grid-template-columns: 50% 50%;
  }
}