
/* #number{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 37px;
} */

.department {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#number{
  margin-left: 2%;
  border-left: solid black 1px;
}