  #multiLogo{
    width: 10vw;
  }
  
  
  #nav_container{
    background-color: #28293a;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-div{
    width: 100%;
  }
  
  #burger_logo{
    width: 25px;
    margin-right:1rem ;
  }
  
  #dashboard{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  

